<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../public/index.css" />
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet" />
		<link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
		<title>Inventory Management</title>
		<link rel="shortcut icon" href="../public/images/favicon.png" type="image/x-icon">
	</head>

	<body>
		{{>sidebar}}
		<section class="home">
			<div class="wrapper">
				<div class="container">
					<div class="heading">
						<ul>
							<li id="logo"><img src="../public/images/logo.png" width="28px" height="28px" />
								<h1>Inventory</h1>
							</li>
							<li id="button">
								<a href="/add"><button>Add item</button></a>
								<a href="/remove"><button id="Remove">Remove</button></a>
								
							</li>
						</ul>
					</div>
                    <div class="individualpage">
						<div class="left">
							<img src="{{individualitems.image}}" alt="{{individualitems.itemName}}" >
						</div>
						<div class="right">
							<h1>Iem Code: </h1>
							<h2>{{individualitems.itemCode}}</h2>
							<h1>Item Name:</h1>
							<h2>{{individualitems.itemName}}</h2>
							<h1>Category:</h1>
							<h2>{{individualitems.category}}</h2>
							<h1>Item on hand:</h1>
							<h2>{{individualitems.onhand}}</h2>
							
							<a href="/"><button>Home</button></a>
							
						</div>
					</div>
				</div>
			</div>
		</section>    
		<script src="../public/index.js"></script>
	</body>

</html>