<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../public/index.css" />
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet" />
		<link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        <title>Inventory Management</title>
        <link rel="shortcut icon" href="../public/images/favicon.png" type="image/x-icon">
	</head>
	{{>sidebar}}
        <div class="home">
        <div class="addForm">
            <h2>Update Items</h2>        
            <form action="/update/{{item.itemCode}}" method="post">
                <div class="form">
                    <label for="icode">Item code</label>
                    <input type="text" name="icode" id="icode" autocomplete="off"  value="{{item.itemCode}}"  required>
                    <label for="iname">Item name</label>
                    <input type="text" name="iname" id="iname" autocomplete="off"  value="{{item.itemName}}" required>
                    <label for="iimg">Image</label>
                    <input type="text" name="iimg" id="iimg" autocomplete="off"  value="{{item.image}}" required>
                    <label for="icat">Item category</label>
                    <input type="text" name="icat" id="icat" autocomplete="off"  value="{{item.category}}" required>
                    <label for="ioh">On hand</label>
                    <input type="" name="ioh" id="ioh" autocomplete="off" value="{{item.onhand}}" required>
                </div>
                <input type="submit" value="Submit">
                
            </form>  
            {{!-- <a href="/"> <button id="cancell">Cancel</button></a>  --}}
            
        </div> 
    </div>
        <script src="../public/index.js"></script>
    </body>

</html>



